@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Regular.eot');
    src: url('AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('AvenirNext-Regular.woff') format('woff'),
         url('AvenirNext-Regular.woff2') format('woff2'),
         url('AvenirNext-Regular.ttf') format('truetype'),
         url('AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Bold.eot');
    src: url('AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
         url('AvenirNext-Bold.woff') format('woff'),
         url('AvenirNext-Bold.woff2') format('woff2'),
         url('AvenirNext-Bold.ttf') format('truetype'),
         url('AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: 700;
    font-style: bold;
   }